{
  email {$TLS_ADMIN_EMAIL}
}

:80 {
  respond "Testagram edge requires HTTPS" 421
}

{$TESTAGRAM_DOMAIN} {
  encode zstd gzip
  request_body {
    max_size 2GB
  }
  header {
    X-Content-Type-Options nosniff
    X-Frame-Options DENY
    Referrer-Policy no-referrer
  }
  reverse_proxy {$TESTAGRAM_ORIGIN}
}
